/* MOVE THIS INTO MORE!! */
.top_ups_bought.add-activity-link {
  display: none;
}

/* download icon for reports */
.feed-icons .views-data-export-feed .feed-icon {
  background-image: url('/modules/contrib/opencase/resources/download.png');
  width: 50px;
  height: 50px;
}

/* paragraphs */


.paragraph .field {
    width: auto;
}

.field.field--type-entity-reference-revisions {
    border: none;
    padding: 0.4em;
}

.field.field--type-entity-reference-revisions .field__item {
    padding: 0; 
}

/* end paragraphs */


/* MOVE THIS INTO GNO! */
#block-accreditationcount {
  position: absolute;
  right: 50%;
  /*background-color: #fff;*/
  background-image: linear-gradient(to top, #2a419a 0%, #1d84c3 100%);
  border-radius: 5px;
}

#block-accreditationcount table {
  border: 0px #2a419a;
  background-color: #1d84c3;
}

#block-accreditationcount h1 {
  color: white;
}


#block-accreditationcount td {
  color: black;
}

/*  */

body {
  font-size: 100% !important;
}

.field.field--type-entity-reference {
  margin: inherit;
}

.field {
    width: 30%;
    display: inline-block;
    padding: 0.4em;
}

/* remove this confusing thing from user creation page */
#edit-password-policy-status {
  display: none;
} 

.form-composite > .fieldset-wrapper > .description, .form-item .description {
    font-size: 1em !important;
}

div[data-drupal-selector=edit-user-bulk-form] {
  display: none;
}

.layout-container {
    max-width: 95% !important;
}

/* Free the people from the tyranny of the useless search button */
#edit-submit-actor-search, #edit-submit-actor-search--2{
  display: none;
}

/* Remove the revision message box. Temporary until can place it properly */
#edit-revision-log-message-wrapper{
  display: none;
}

/* Same for revision checkbox. */
.js-form-item.form-item.js-form-type-checkbox.form-type-checkbox.js-form-item-new-revision.form-item-new-revision {
  display: none;
}

/* Style the search box in header bar. */
#block-exposedformactor-searchpage-1 {
  top: -20px;
}

#block-exposedformactor-searchpage-1 #edit-actions {
  padding-top: 0;
}

#block-exposedformactor-searchpage-1 .form-text {
  width: 200px;
}

/* Make drop-down nav menu opaque */
.block-superfish .menu ul {
  background: white;
  color: darkgray;
}
.block-superfish .menu ul li {
  border-bottom: 1px dotted darkgray;
}
.block-superfish .menu ul li a:hover {
  color: black;
}

/* In views, display label at top of field. Ths is because full descriptions are displayed in the activity view so having the label in the middle means it disappears down the page. */
td.views-field {
    vertical-align: top;
}

/* Entity displays */
.oc_entity .left {
  display: inline-block;
  width: 45%;
  padding: 1em;
}

.oc_entity .right {
  display: inline-block;
  width: 45%;
  padding: 1em;
  float: right;
}
.oc_entity .field {
  margin-top: 1em;
}

/* Make entity reference field labels match normal field labels */
.field--type-entity-reference .field__label {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em !important;
  font-weight: bold !important;
}

/* remove "details" accordion, see https://drupal.stackexchange.com/questions/294312/why-has-this-details-accordion-appeared-in-this-view */
.views-table details {
    display: none;
}

form.oc-organisation-relation-form tr:first-child {
  display: none;
}


/* trav styling */
.site-branding {
	margin-top: -2.20em !important;
}

.follow-ups-due td {
  background-color: #FB8A4F;
}

#block-accreditationcount th,
#block-accreditationcount td {
  border: none;
}

#block-accreditationcount {
  padding: 1em;
}

tr:nth-child(even) {
  background-color: #fefefe;
}

tr:nth-child(odd) {
  background-color: #eee;
}

.Off {
	color:gray;
}

.Off a {
	color:gray;
}

.field--type-entity-reference-revisions {
	border-radius: 25px;
	border: 2px solid #2A419A;
	padding: 10px; 
	border-width: thin;
}

.follow-ups-due table{
	background-color: #FB8A4F;
}

.views-field-field-client-substatus {
	font-weight: bold;
}	

thead {
	background-color: #1d84c3;
}	

