{#
/**
 * @file oc_case_provision.html.twig
 * Default theme implementation to present Case Provision data.
 *
 * This template is used when viewing Case Provision pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_case_provision()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_case_provision') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
