{#
/**
 * @file oc_case_fee.html.twig
 * Default theme implementation to present Case Fee data.
 *
 * This template is used when viewing Case Fee pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_case_fee()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_case_fee') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
