{#
/**
 * @file
 * Default theme implementation to present a list of custom content entity types/bundles.
 *
 * Available variables:
 * - types: A collection of all the available custom entity types/bundles.
 *   Each type/bundle contains the following:
 *   - link: A link to add a content entity of this type.
 *   - description: A description of this content entity types/bundle.
 *
 * @see template_preprocess_oc_activity_content_add_list()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  <dl>
    {% for id,type in bundles %}
      <dt><a href="/opencase/oc_activity/add/{{ id }}?case_id={{ case_id }}">{{ type.label }}</a></dt>
    {% endfor %}
  </dl>
{% endspaceless %}
