{#
/**
 * @file oc_bank_account.html.twig
 * Default theme implementation to present Bank Account data.
 *
 * This template is used when viewing Bank Account pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_bank_account()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_bank_account') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
