{#
/**
 * @file oc_equal_opps.html.twig
 * Default theme implementation to present Equal Opps data.
 *
 * This template is used when viewing Equal Opps pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_equal_opps()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_equal_opps') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
