{#
/**
 * @file oc_event.html.twig
 * Default theme implementation to present Event data.
 *
 * This template is used when viewing Event pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_event()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_event') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
