{#
/**
 * @file oc_organisation_relation.html.twig
 * Default theme implementation to present Organisation Relation data.
 *
 * This template is used when viewing Organisation Relation pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_oc_organisation_relation()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('oc_organisation_relation') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
